<div class="principal_compromissos">
    <div class="titulo_compromisso">
        <h3> {{ compromisso }} </h3>
    </div>



    <div class="agendamento_compromissos">

        <section class="itens_compromissos">
            <ul>
                <li *ngFor="let item of items; let i = index"> 
                    <span>Nome: {{ item.nome }}  </span> 
                    <span>Data: {{ item.data }} </span>
                    <span>Email: {{ item.email }}  </span>
                    <span>Celular: {{ item.celular }} </span>
                    <span>Assunto: {{ item.assunto }} </span>
                    <section class="botoes">
                        <button (click)="concluirTarefa()" id="concluir">Concluir</button>
                        <button (click)="removeTarefa(items)" id="deletar" >Deletar</button>
                    </section>
                </li>

            </ul>
        </section>

    
    
    </div>

</div>
