<div class="principal_compromissos">
    <div class="titulo_compromisso">
        <h3> {{ compromisso }} </h3>
    </div>

    <div class="agendamento_compromissos">

        <section class="itens_compromissos">
            <ul>
                <li> {{ agenda.nome }} </li>
                <li>{{ agenda.data }}</li>
                <li>{{ agenda.email }}</li>
                <li>{{ agenda.celular }}</li>
                <li>{{ agenda.assunto }}</li>
            </ul>
        </section>

        <section class="botoes">
            <button id="concluir">Concluir</button>
            <button id="deletar">Deletar</button>
        </section>
    
    </div>

    <div class="agendamento_compromissos">

        <section class="itens_compromissos">
            <ul>
                <li> {{ agenda.nome }} </li>
                <li>{{ agenda.data }}</li>
                <li>{{ agenda.email }}</li>
                <li>{{ agenda.celular }}</li>
                <li>{{ agenda.assunto }}</li>
            </ul>
        </section>

        <section class="botoes">
            <button id="concluir">Concluir</button>
            <button id="deletar">Deletar</button>
        </section>
    
    </div>

    <div class="agendamento_compromissos">

        <section class="itens_compromissos">
            <ul>
                <li *ngFor="let item of items"> {{ items }} </li>
            </ul>
        </section>

        <section class="botoes">
            <button id="concluir">Concluir</button>
            <button id="deletar">Deletar</button>
        </section>
    
    </div>

</div>
